body {
  text-decoration:none;
}

.navbar-header a{
	font-size:35px;
	font-family:'Montserrat', sans-serif;
	color:#e99287;
}

.navbar-header a:hover{
	text-decoration:none;
	color:#FFF;
}

.menu_right_i{
	font-family:'Montserrat', sans-serif;
	text-transform:uppercase;
}

header {
    text-align: center;
	color: #fff;
	background-attachment: scroll;
	background-image: url(../assets_old/img/profile7.png);
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-top: 50px;
	height: 750px;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
	color:#424249;
	margin-left:-140px;
}

header .intro-text .intro-heading {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
	color:#424249;
	margin-left: -140px;
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {	
	header {
		text-align: center;
		color: #fff;
		background-attachment: scroll;
		background-image: url(../assets_old/img/profile6.png);
		background-position: center center;
		background-repeat: none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		margin-top: 50px;
		height: 640px;
	}
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	header {
		background-image: url(../assets_old/img/profile5.png);
		height: 266px;
	}
	header .intro-text .intro-heading {
		font-size: 25px;
		margin-left: -143px;
		margin-top: -90px;
	}
	header .intro-text .intro-lead-in {
		font-size: 14px;
		color: #424249;
		margin-left: -141px;
	}
}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	header {
		background-image: url(../assets_old/img/profile4.png);
		height: 400px;
	}
	header .intro-text .intro-heading {
		font-size: 35px;
		margin-left: -154px;
		margin-top: -30px;
	}
	header .intro-text .intro-lead-in {
		font-size: 18px;
		color: #FFFFFF;
		margin-left: -156px;
	}
	
}