   
    a.tooltip {outline:none;text-decoration:none;}
    a.tooltip strong {line-height:30px;}
    a.tooltip > span 
    {
        padding: 10px 20px;
	    margin-top: 20px;
	    margin-left: -85px;
	
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    font-family: Arial;
	    font-size: 12px;
	    font-style: normal;  
        	    
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;
	    
	    
	    -webkit-box-shadow: 2px 2px 2px #999;
	    -moz-box-shadow: 2px 2px 2px #999;		
	    box-shadow: 2px 2px 2px #999;	    
	    
	    -webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    }
    
    /*a.tooltip > span:hover,*/
	a.tooltip:hover > span
	{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		top:-21em;left:50%;
		overflow: visible;
		margin-top:50px;
		display: inline;
		margin-left: -60px;		
	}
/*
	a.tooltip span b {
    
		width: 15px;
		height: 15px;
		
		margin-left: 20px;
		margin-top: -19px;
			
		display: inline;
		position: absolute;

		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
			
		-webkit-box-shadow: inset -1px 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		-o-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
			
		display: none\0/;
		*display: none;
	}*/
    
a.tooltip > span {
	color: #000000; 
		top:-21em;left:50%;
text-align:center;
	background: #ffffff;/*
	background: -moz-linear-gradient(top, #C0C0C0 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0C0C0), color-stop(100%,#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C0C0', endColorstr='#FFFFFF',GradientType=0 );*/
	    
	border: 1px solid #C0C0C0;	     
}    
/*	
a.tooltip span b {

	background: #FBF5E6;
	border-top: 1px solid #CFB57C;
	border-right: 1px solid #CFB57C;
}  */  


    body
    {
        background-color:#ffffff;
    }
    header
    {
        font-family:"raleway";
        color:#2961b5;
        font-size:80px;
        position: relative;
        top:90px;
        left: 90px;
    }
    header2
    {
        font-family:"raleway";
        color:#2961b5;
        text-align:left;
        font-size:30px;

    }
     p.ex
    {
        position:relative;
        left:90px;
        width:500px;
         font-family:"palatino";
        color: black;
        font-size: 17px;
        top:110px;
        }
    link2
    {
        font-family:"raleway";
        color:#2961b5;
        font-size: 30px;
        position: relative;     
        top:120px;
        left:90px;
    }
  
  img 
    {
	max-width:720px;			
	max-height:540px;
    }	

    a:link {color:#2961b5;text-decoration:none;}    /* unvisited link */
    a:visited {color:#778899;text-decoration:none;} /* visited link */
    a:hover {color:#FF6633;text-decoration:none;}   /* mouse over link */
    a:active {color:#0000FF;text-decoration:none;}  /* selected link */
  
